@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');

body{
  background: #1A3154;
  color: whitesmoke;
}

.App {
  text-align: center;
}

h1{
  font-family: 'Metal Mania', cursive;
  font-size: 4rem;
  letter-spacing: 5px;
}

.user-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user{
  border: 2px solid whitesmoke;
  border-radius: 5px;
  width: 400px;
  height: 240px;
  padding: 10px;
  margin: 10px;
}

button{
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


