.App {
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;
	padding: 20px;
	height: 100vh;
}

h1 {
	text-align: center;
}

.userList__container {
	/* border: 1px solid rebeccapurple; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.add__user__form__container {
	margin-top: 100px;
}

.add__user__form {
	display: flex;
}

.add__user__form input {
	margin-right: 10px;
}

.edit__user__form {
	display: flex;
	flex-flow: column wrap;
}

.edit__user__form input {
	margin-bottom: 10px;
}

.fetch__users__btn__container {
	display: flex;
	justify-content: center;
}
