# dotenv environment variables file
.env
.env.test
.env*.local

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/


# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

