.App  {
  text-align: center;
}
 
h1{
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
}

.home {
  background-image: url("https://images.unsplash.com/photo-1600003251514-239257fb4c53?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzF8fGhvYmJpdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  overflow-x: hidden;
  background-color: #2BAE66FF;
  color:#FCF6F5FF;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0rem;
  height: 30rem;
}
 
.banner{
  background-color: #FCF6F5FF;
  color:#2BAE66FF;
  padding:1% 0% 
}
body{
  background-color: rgba(211, 240, 225, 0.8);
}
.hobbits{
  display:flex;
  justify-content: space-evenly;
  margin:5% 9%;
  padding: 2% 2%;
  background-color: rgba(191, 241, 207, 0.8);
  box-shadow: 4px 3px rgba(74, 75, 74, 0.8);
  border-radius: 6px;
}
 
.hobbitlist{
  background-color: #FCF6F5FF;
  color:rgb(73, 180, 121);
  font-size: 1.2rem;
  font-style: italic;
}

.hobbitCards{
  display:flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: rgb(217, 248, 227);
  width: 85%;
  color:#FCF6F5FF;
  font-size: 1.2rem;
  font-style: italic;
  box-shadow: 4px 3px rgba(74, 75, 74, 0.8);
}
.hobbitCard{
  display:flex;
  background-color: #2BAE66FF;
  color:#FCF6F5FF;
  font-size: 1.2rem;
  font-style: italic;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: 4px 3px rgba(74, 75, 74, 0.8);
}

.addForm{
  width:40%;
  margin:0 auto;
  background-color: rgb(172, 221, 194);
  color: rgb(27, 29, 28);
  font-size: 1.2rem;
  font-style: italic;
 padding: 1rem 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}